.Sidebar_Left{
    border-left: 1px solid #ccc;
    height: auto;
}
.Sidebar_Left1{
    margin-top: 30px;
    margin-bottom: 37px;
    padding: 40px;
    background: #00b5d6;
    color: #fff;
    text-align: center;
    width: auto;
}
.Sidebar_Left1>span{
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    padding: 6px;
    border-radius: 20px !important;
    background: #0591ab;
}
.Sidebar_Left1>p{
    margin-top: 10px;
    color: #fff;
}
.Sidebar_Left1>p>span{
    display: block;
}
.Sidebar_Left2{
    color: #737171;
    font-size: 16px;
    margin-bottom: 36px;
    word-spacing: 2px;
}
.Sidebar_Left3{
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
    color: #737171;

}
.Sidebar_Left4>ul>li{
    list-style-type: none;
    font-size: 14px;
    margin-bottom: 3px;
    color: #737171;

}